.profile__profession {
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;

  color: #fff;
  margin: 16px 0 0 0;

  max-width: 294px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 520px) {
  .profile__profession {
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    margin-top: 14px;
  }
}

@media screen and (max-width: 330px) {
  .profile__profession {
    max-width: 190px;
  }
}
