.profile__btn {
  /* width: 24px; */
  /* height: 24px; */
  width: 10px;
  height: 10px;

  background: #000;
  border: 1px solid #fff;
  margin: 0 0 8px 18px;
  padding: 11px;
  cursor: pointer;
  transition: 0.5s;

  background-image: url(../../../images/btn-img.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.profile__btn:hover {
  opacity: 0.6;
  transition: 0.5s;
}

@media screen and (max-width: 520px) {
  .profile__btn {
    width: 18px;
    height: 18px;
    padding: 8px;
    background-size: 7.5px;

    margin-bottom: 4px;
    margin-left: 10px;
  }
}
