.popup__close {
  width: 32px;
  height: 32px;

  position: relative;
  top: -74px;
  left: 112%;

  cursor: pointer;
  transition: 0.6s;
}

.popup__close:hover {
  opacity: 0.8;
  transition: 0.6s;
}

@media screen and (max-width: 520px) {
  .popup__close {
    width: 20px;
    height: 20px;

    position: relative;
    top: -65px;
    left: 100%;
  }
}
