.profile__name {
  font-size: 42px;
  line-height: 1.14;
  font-weight: 500;

  color: #fff;
  margin: 0;

  max-width: 294px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 540px) {
  .profile__name {
    font-size: 37px;
    line-height: 33px;
    text-align: center;
  }
}

@media screen and (max-width: 330px) {
  .profile__name {
    max-width: 190px;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}
