.footer__txt {
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;

  margin: 0;
  padding: 0;
  color: #545454;
}

@media screen and (max-width: 520px) {
  .footer__txt {
    font-size: 14px;
    line-height: 17px;
  }
}
