.profile__btn_type_img {
  width: 10px;
  height: 10px;

  border-style: none;
  margin: 0;
}

@media screen and (max-width: 520px) {
  .profile__btn_type_img {
    width: 7px;
    height: 7px;

    position: relative;
    bottom: 22%;
  }
}
